.containerDetails {
    transition: all .3s;
    position: absolute;
    top:72px; 
    background-color:white;
    height: 100%;
    width: 400px;
    box-shadow: 1px 6px 12px 1px rgba(0,0,0,.2);
    box-sizing: border-box;
    z-index: 999;
}

.itemHeader {
    text-align: left;
    padding: 25px;
    background-color: #3c6382;
    color: white;
}

.itemHeader h2 {
    margin: 12px 0 10px;
    font-weight: 600;
}

.containerDetailsImage {
    overflow: hidden;
}

.containerDetailsImage img {
    width: 100%;
}

.conainterDetailsStar {
}

.conainterDetailsStar span {
    margin-left: 5px;
}

.starIcon {
    vertical-align: middle;
    margin-top: -2px;
}

.containerFeaturesIconsDetails {
    display: flex;
    justify-content: space-evenly;
    margin-top: -4px;
    padding: 20px 0 ;
}

.featureIconDetails {
    flex-direction: row;
}

.containerDescriptionDetails {
    text-align: left;
    padding: 25px 25px 25px;
}

.containerDescriptionDetails h4 {
    margin:0 0 10px;
    padding:0;
}

.containerDescriptionDetails p{
    margin: 0;
    padding:0;
    font-size: 15px;
    color:#3C4043;
}

.containerActionsDetails {
text-align: left;
}

.ActionItemDetails {
    padding: 25px;
    border-bottom: 1px solid #e6e6e6;
    cursor: pointer;
    transition: background-color .2s;
    background-color: white;
}


.ActionItemDetails:hover {
    background-color: rgb(243, 243, 243);
}

.ActionItemIcon {
    vertical-align: middle;
    float: right;
    margin-top:4px;
}

.ActionItemIconLabel {
    vertical-align: middle;
    margin-top: -3px;
    margin-right: 10px;
}

.ActionItemLabel {
    display: inline-block;
}

.ActionItemLabel span {
    vertical-align: middle;
}